.header {

  width: 100%;
  overflow: hidden;
}

.cover {
  width: auto;
  height: 500px;
}

.info {
  width: 200px;
  margin-left: -100px;
  margin-top: -92px;
}

.list {
  width: 100%;
  padding: 0 16px;
  margin-bottom: -50px;
}

.list .box {
  width: 48%;
  padding-bottom: 50px;
}

h2.title {
  padding: 50px 0;
}